In [1]:
import pandas as pd 
from db import *
from config_g import *
# from config_poc import *

In [2]:
import json

```
select  c.table_name, c.column_name, c.data_type, c.*
from information_schema.columns c
where 1=1
and c.table_catalog = 'faculty-Cornell-CS'
and c.table_schema = 'main'
and c.table_name in (
	--'t_note'
	select table_name from information_schema.tables t
	where t.table_catalog = 'faculty-Cornell-CS'
	and t.table_schema = 'main'
)
order by c.table_catalog,c.table_schema,c.table_name, c.ordinal_position
```

In [20]:
def _gen_label(col):
    "Convert table column into form label"
    if col == 'ts_created': return "Created At"
    if "_" not in col:
        if col.upper() in ["URL","ID"]:
            return col.upper()
        elif col.upper() == "TS":
            return "Timestamp"
        return col.capitalize()

    cols = []
    for c in col.split("_"):
        c  = c.strip()
        if not c: continue
        cols.append(c.capitalize())
    return " ".join(cols)

def _prepare_col_props(selected_tbls):
    col_props = {}
    for tbl in selected_tbls:
        cols_def = {}
        for col in TABLE_COLUMNS[tbl]:
            col_def = {}
            for p in PROPS:
                if "is_" in p:
                    col_def.update({p: False})
                elif p == 'form_column':
                    col_def.update({p: "col1-1"})
                elif p == 'widget_type':
                    col_def.update({p: "text_input"})
                else:
                    col_def.update({p: _gen_label(col)})
            cols_def[col] = col_def
        col_props[tbl] = cols_def

    return col_props

def _get_columns(table_name, prop_name="is_visible"):
    cols_bool = []
    cols_text = {}
    for k,v in COLUMN_PROPS[table_name].items():
        if prop_name.startswith("is_") and v.get(prop_name, False):
            cols_bool.append(k)
            
        if not prop_name.startswith("is_"):
            val = v.get(prop_name, "")
            if val:
                cols_text.update({k: val})
    
    return cols_bool or cols_text

def _parse_column_props():
    """parse COLUMN_PROPS map
    """
    col_defs = {}
    for table_name in COLUMN_PROPS.keys():
        defs = {}
        cols_widget_type = {}
        cols_label_text = {}
        for p in PROPS:
            res = _get_columns(table_name, prop_name=p)
            # print(f"{p}: {res}")
            if p == 'widget_type':
                cols_widget_type = res
            elif p == 'label_text':
                cols_label_text = res
            defs[p] = res
            
        # reset label
        for col in cols_widget_type.keys():
            label = cols_label_text.get(col, "")
            if not label:
                label = _gen_label(col)
            cols_label_text.update({col : label})
        # print(cols_label_text)
        defs['label_text'] = cols_label_text
        defs['all_columns'] = list(cols_widget_type.keys())

        # sort form_column alpha-numerically
        # max number of form columns = 3
        # add them
        tmp = {}
        for i in range(1,4):
            m = {k:v for k,v in defs['form_column'].items() if v.startswith(f"col{i}-")}
            tmp[f"col{str(i)}_columns"] = sorted(m, key=m.__getitem__)        
        defs.update(tmp)
        col_defs[table_name] = defs

        
    return col_defs

In [4]:
sql_stmt = """
select  c.table_name, c.column_name, c.data_type --,  c.*
from information_schema.columns c
where 1=1
--and c.table_catalog like 'faculty-Cornell-CS%'
and c.table_schema = 'main'
and c.table_name in (
	--'t_note'
	select table_name from information_schema.tables t
	where 1=1
	--and t.table_catalog like 'faculty-Cornell-CS%'
	and t.table_schema = 'main'
)
and c.table_name not like 't1_%'
order by c.table_catalog,c.table_schema,c.table_name, c.ordinal_position
;
"""

In [5]:
with DBConn() as _conn:
    df = pd.read_sql(sql_stmt, _conn)

C:\Users\p2p2l\AppData\Local\Temp\ipykernel_9040\496018617.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_stmt, _conn)

In [6]:
df

         table_name    column_name data_type
0    g_column_props     table_name   VARCHAR
1    g_column_props       col_name   VARCHAR
2    g_column_props  is_system_col   BOOLEAN
3    g_column_props    is_user_key   BOOLEAN
4    g_column_props    is_required   BOOLEAN
..              ...            ...       ...
157          t_work           tags   VARCHAR
158          t_work           note   VARCHAR
159          t_work     ts_created   VARCHAR
160          t_work             id   VARCHAR
161          t_work             ts   VARCHAR

[162 rows x 3 columns]

df = df[["table_name","column_name"]]

In [7]:
df.to_records()

rec.array([(  0, 'g_column_props', 'table_name', 'VARCHAR'),
           (  1, 'g_column_props', 'col_name', 'VARCHAR'),
           (  2, 'g_column_props', 'is_system_col', 'BOOLEAN'),
           (  3, 'g_column_props', 'is_user_key', 'BOOLEAN'),
           (  4, 'g_column_props', 'is_required', 'BOOLEAN'),
           (  5, 'g_column_props', 'is_visible', 'BOOLEAN'),
           (  6, 'g_column_props', 'is_editable', 'BOOLEAN'),
           (  7, 'g_column_props', 'is_clickable', 'BOOLEAN'),
           (  8, 'g_column_props', 'form_column', 'VARCHAR'),
           (  9, 'g_column_props', 'widget_type', 'field_ui_type'),
           ( 10, 'g_column_props', 'label_text', 'VARCHAR'),
           ( 11, 'g_column_props', 'kwargs', 'VARCHAR'),
           ( 12, 'g_entity', 'id', 'VARCHAR'),
           ( 13, 'g_entity', 'uid', 'VARCHAR'),
           ( 14, 'g_entity', 'ts', 'VARCHAR'),
           ( 15, 'g_entity', 'entity_type', 'VARCHAR'),
           ( 16, 'g_entity', 'name', 'VARCHAR'),
           ( 17, 'g_entity', 'url', 'VARCHAR'),
           ( 18, 'g_entity', 'note', 'VARCHAR'),
           ( 19, 'g_note', 'id', 'VARCHAR'),
           ( 20, 'g_note', 'uid', 'VARCHAR'),
           ( 21, 'g_note', 'ts', 'VARCHAR'),
           ( 22, 'g_note', 'name', 'VARCHAR'),
           ( 23, 'g_note', 'url', 'VARCHAR'),
           ( 24, 'g_note', 'note', 'VARCHAR'),
           ( 25, 'g_note', 'tags', 'VARCHAR'),
           ( 26, 'g_note', 'ref_key', 'VARCHAR'),
           ( 27, 'g_note', 'ref_val', 'VARCHAR'),
           ( 28, 'g_person', 'id', 'VARCHAR'),
           ( 29, 'g_person', 'uid', 'VARCHAR'),
           ( 30, 'g_person', 'ts', 'VARCHAR'),
           ( 31, 'g_person', 'person_type', 'VARCHAR'),
           ( 32, 'g_person', 'name', 'VARCHAR'),
           ( 33, 'g_person', 'url', 'VARCHAR'),
           ( 34, 'g_person', 'note', 'VARCHAR'),
           ( 35, 'g_person', 'email', 'VARCHAR'),
           ( 36, 'g_person', 'first_name', 'VARCHAR'),
           ( 37, 'g_person', 'mid_name', 'VARCHAR'),
           ( 38, 'g_person', 'last_name', 'VARCHAR'),
           ( 39, 'g_person', 'job_title', 'VARCHAR'),
           ( 40, 'g_person', 'phd_univ', 'VARCHAR'),
           ( 41, 'g_person', 'phd_year', 'VARCHAR'),
           ( 42, 'g_person', 'research_area', 'VARCHAR'),
           ( 43, 'g_person', 'research_concentration', 'VARCHAR'),
           ( 44, 'g_person', 'research_focus', 'VARCHAR'),
           ( 45, 'g_person', 'img_url', 'VARCHAR'),
           ( 46, 'g_person', 'phone', 'VARCHAR'),
           ( 47, 'g_person', 'cell_phone', 'VARCHAR'),
           ( 48, 'g_person', 'office_address', 'VARCHAR'),
           ( 49, 'g_person', 'department', 'VARCHAR'),
           ( 50, 'g_person', 'org', 'VARCHAR'),
           ( 51, 'g_relation', 'id', 'VARCHAR'),
           ( 52, 'g_relation', 'uid', 'VARCHAR'),
           ( 53, 'g_relation', 'ts', 'VARCHAR'),
           ( 54, 'g_relation', 'rel_type', 'VARCHAR'),
           ( 55, 'g_relation', 'ref_key', 'VARCHAR'),
           ( 56, 'g_relation', 'ref_val', 'VARCHAR'),
           ( 57, 'g_relation', 'ref_key_sub', 'VARCHAR'),
           ( 58, 'g_relation', 'ref_val_sub', 'VARCHAR'),
           ( 59, 'g_work', 'id', 'VARCHAR'),
           ( 60, 'g_work', 'uid', 'VARCHAR'),
           ( 61, 'g_work', 'ts', 'VARCHAR'),
           ( 62, 'g_work', 'work_type', 'VARCHAR'),
           ( 63, 'g_work', 'name', 'VARCHAR'),
           ( 64, 'g_work', 'url', 'VARCHAR'),
           ( 65, 'g_work', 'note', 'VARCHAR'),
           ( 66, 'g_work', 'summary', 'VARCHAR'),
           ( 67, 'g_work', 'authors', 'VARCHAR'),
           ( 68, 'g_work', 'tags', 'VARCHAR'),
           ( 69, 't_column_props', 'table_name', 'VARCHAR'),
           ( 70, 't_column_props', 'col_name', 'VARCHAR'),
           ( 71, 't_column_props', 'is_system_col', 'BOOLEAN'),
           ( 72, 't_column_props', 'is_user_key', 'BOOLEAN'),
           ( 73, 't_column_props', 'is_required', 'BOOLEAN'),
           ( 74, 't_column_props', 'is_visible', 'BOOLEAN'),
           ( 75, 't_column_props', 'is_editable', 'BOOLEAN'),
           ( 76, 't_column_props', 'is_clickable', 'BOOLEAN'),
           ( 77, 't_column_props', 'form_column', 'VARCHAR'),
           ( 78, 't_column_props', 'widget_type', 'field_ui_type'),
           ( 79, 't_column_props', 'label_text', 'VARCHAR'),
           ( 80, 't_faculty', 'name', 'VARCHAR'),
           ( 81, 't_faculty', 'job_title', 'VARCHAR'),
           ( 82, 't_faculty', 'phd_univ', 'VARCHAR'),
           ( 83, 't_faculty', 'phd_year', 'VARCHAR'),
           ( 84, 't_faculty', 'research_area', 'VARCHAR'),
           ( 85, 't_faculty', 'research_concentration', 'VARCHAR'),
           ( 86, 't_faculty', 'research_focus', 'VARCHAR'),
           ( 87, 't_faculty', 'url', 'VARCHAR'),
           ( 88, 't_faculty', 'img_url', 'VARCHAR'),
           ( 89, 't_faculty', 'phone', 'VARCHAR'),
           ( 90, 't_faculty', 'email', 'VARCHAR'),
           ( 91, 't_faculty', 'cell_phone', 'VARCHAR'),
           ( 92, 't_faculty', 'office_address', 'VARCHAR'),
           ( 93, 't_faculty', 'department', 'VARCHAR'),
           ( 94, 't_faculty', 'school', 'VARCHAR'),
           ( 95, 't_faculty', 'note', 'VARCHAR'),
           ( 96, 't_note', 'name', 'VARCHAR'),
           ( 97, 't_note', 'note', 'VARCHAR'),
           ( 98, 't_note', 'url', 'VARCHAR'),
           ( 99, 't_note', 'tags', 'VARCHAR'),
           (100, 't_note', 'ts', 'VARCHAR'),
           (101, 't_note', 'id', 'VARCHAR'),
           (102, 't_note', 'ref_type', 'VARCHAR'),
           (103, 't_note', 'ref_key', 'VARCHAR'),
           (104, 't_org', 'name', 'VARCHAR'),
           (105, 't_org', 'url', 'VARCHAR'),
           (106, 't_org', 'note', 'VARCHAR'),
           (107, 't_person', 'name', 'VARCHAR'),
           (108, 't_person', 'url', 'VARCHAR'),
           (109, 't_person', 'email', 'VARCHAR'),
           (110, 't_person', 'first_name', 'VARCHAR'),
           (111, 't_person', 'mid_name', 'VARCHAR'),
           (112, 't_person', 'last_name', 'VARCHAR'),
           (113, 't_person', 'note', 'VARCHAR'),
           (114, 't_person', 'id', 'VARCHAR'),
           (115, 't_person', 'ts', 'VARCHAR'),
           (116, 't_person', 'job_title', 'VARCHAR'),
           (117, 't_person', 'person_type', 'VARCHAR'),
           (118, 't_person', 'phd_univ', 'VARCHAR'),
           (119, 't_person', 'phd_year', 'VARCHAR'),
           (120, 't_person', 'research_area', 'VARCHAR'),
           (121, 't_person', 'research_concentration', 'VARCHAR'),
           (122, 't_person', 'research_focus', 'VARCHAR'),
           (123, 't_person', 'img_url', 'VARCHAR'),
           (124, 't_person', 'phone', 'VARCHAR'),
           (125, 't_person', 'cell_phone', 'VARCHAR'),
           (126, 't_person', 'office_address', 'VARCHAR'),
           (127, 't_person', 'department', 'VARCHAR'),
           (128, 't_person', 'school', 'VARCHAR'),
           (129, 't_person', 'org', 'VARCHAR'),
           (130, 't_person_team', 'id', 'VARCHAR'),
           (131, 't_person_team', 'ts', 'VARCHAR'),
           (132, 't_person_team', 'ref_type', 'VARCHAR'),
           (133, 't_person_team', 'ref_key', 'VARCHAR'),
           (134, 't_person_team', 'ref_type_2', 'VARCHAR'),
           (135, 't_person_team', 'ref_key_2', 'VARCHAR'),
           (136, 't_person_work', 'id', 'VARCHAR'),
           (137, 't_person_work', 'ts', 'VARCHAR'),
           (138, 't_person_work', 'ref_type', 'VARCHAR'),
           (139, 't_person_work', 'ref_key', 'VARCHAR'),
           (140, 't_person_work', 'ref_type_2', 'VARCHAR'),
           (141, 't_person_work', 'ref_key_2', 'VARCHAR'),
           (142, 't_research_group', 'name', 'VARCHAR'),
           (143, 't_research_group', 'url', 'VARCHAR'),
           (144, 't_research_group', 'note', 'VARCHAR'),
           (145, 't_research_group', 'id', 'VARCHAR'),
           (146, 't_research_group', 'ts', 'VARCHAR'),
           (147, 't_team', 'name', 'VARCHAR'),
           (148, 't_team', 'url', 'VARCHAR'),
           (149, 't_team', 'note', 'VARCHAR'),
           (150, 't_team', 'id', 'VARCHAR'),
           (151, 't_team', 'team_lead', 'VARCHAR'),
           (152, 't_work', 'type', 'VARCHAR'),
           (153, 't_work', 'name', 'VARCHAR'),
           (154, 't_work', 'url', 'VARCHAR'),
           (155, 't_work', 'summary', 'VARCHAR'),
           (156, 't_work', 'authors', 'VARCHAR'),
           (157, 't_work', 'tags', 'VARCHAR'),
           (158, 't_work', 'note', 'VARCHAR'),
           (159, 't_work', 'ts_created', 'VARCHAR'),
           (160, 't_work', 'id', 'VARCHAR'),
           (161, 't_work', 'ts', 'VARCHAR')],
          dtype=[('index', '<i8'), ('table_name', 'O'), ('column_name', 'O'), ('data_type', 'O')])

In [8]:
tbl_map = {}
for idx, tbl, col, typ in df.to_records():
    if tbl not in tbl_map:
        tbl_map[tbl] = [(col,typ)]
    else:
        tmp = tbl_map[tbl]
        tmp.append((col,typ))
        tbl_map[tbl] = tmp
tbl_map

{'g_column_props': [('table_name', 'VARCHAR'),
  ('col_name', 'VARCHAR'),
  ('is_system_col', 'BOOLEAN'),
  ('is_user_key', 'BOOLEAN'),
  ('is_required', 'BOOLEAN'),
  ('is_visible', 'BOOLEAN'),
  ('is_editable', 'BOOLEAN'),
  ('is_clickable', 'BOOLEAN'),
  ('form_column', 'VARCHAR'),
  ('widget_type', 'field_ui_type'),
  ('label_text', 'VARCHAR'),
  ('kwargs', 'VARCHAR')],
 'g_entity': [('id', 'VARCHAR'),
  ('uid', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('entity_type', 'VARCHAR'),
  ('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR')],
 'g_note': [('id', 'VARCHAR'),
  ('uid', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('tags', 'VARCHAR'),
  ('ref_key', 'VARCHAR'),
  ('ref_val', 'VARCHAR')],
 'g_person': [('id', 'VARCHAR'),
  ('uid', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('person_type', 'VARCHAR'),
  ('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('email', 'VARCHAR'),
  ('first_name', 'VARCHAR'),
  ('mid_name', 'VARCHAR'),
  ('last_name', 'VARCHAR'),
  ('job_title', 'VARCHAR'),
  ('phd_univ', 'VARCHAR'),
  ('phd_year', 'VARCHAR'),
  ('research_area', 'VARCHAR'),
  ('research_concentration', 'VARCHAR'),
  ('research_focus', 'VARCHAR'),
  ('img_url', 'VARCHAR'),
  ('phone', 'VARCHAR'),
  ('cell_phone', 'VARCHAR'),
  ('office_address', 'VARCHAR'),
  ('department', 'VARCHAR'),
  ('org', 'VARCHAR')],
 'g_relation': [('id', 'VARCHAR'),
  ('uid', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('rel_type', 'VARCHAR'),
  ('ref_key', 'VARCHAR'),
  ('ref_val', 'VARCHAR'),
  ('ref_key_sub', 'VARCHAR'),
  ('ref_val_sub', 'VARCHAR')],
 'g_work': [('id', 'VARCHAR'),
  ('uid', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('work_type', 'VARCHAR'),
  ('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('summary', 'VARCHAR'),
  ('authors', 'VARCHAR'),
  ('tags', 'VARCHAR')],
 't_column_props': [('table_name', 'VARCHAR'),
  ('col_name', 'VARCHAR'),
  ('is_system_col', 'BOOLEAN'),
  ('is_user_key', 'BOOLEAN'),
  ('is_required', 'BOOLEAN'),
  ('is_visible', 'BOOLEAN'),
  ('is_editable', 'BOOLEAN'),
  ('is_clickable', 'BOOLEAN'),
  ('form_column', 'VARCHAR'),
  ('widget_type', 'field_ui_type'),
  ('label_text', 'VARCHAR')],
 't_faculty': [('name', 'VARCHAR'),
  ('job_title', 'VARCHAR'),
  ('phd_univ', 'VARCHAR'),
  ('phd_year', 'VARCHAR'),
  ('research_area', 'VARCHAR'),
  ('research_concentration', 'VARCHAR'),
  ('research_focus', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('img_url', 'VARCHAR'),
  ('phone', 'VARCHAR'),
  ('email', 'VARCHAR'),
  ('cell_phone', 'VARCHAR'),
  ('office_address', 'VARCHAR'),
  ('department', 'VARCHAR'),
  ('school', 'VARCHAR'),
  ('note', 'VARCHAR')],
 't_note': [('name', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('tags', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('id', 'VARCHAR'),
  ('ref_type', 'VARCHAR'),
  ('ref_key', 'VARCHAR')],
 't_org': [('name', 'VARCHAR'), ('url', 'VARCHAR'), ('note', 'VARCHAR')],
 't_person': [('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('email', 'VARCHAR'),
  ('first_name', 'VARCHAR'),
  ('mid_name', 'VARCHAR'),
  ('last_name', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('id', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('job_title', 'VARCHAR'),
  ('person_type', 'VARCHAR'),
  ('phd_univ', 'VARCHAR'),
  ('phd_year', 'VARCHAR'),
  ('research_area', 'VARCHAR'),
  ('research_concentration', 'VARCHAR'),
  ('research_focus', 'VARCHAR'),
  ('img_url', 'VARCHAR'),
  ('phone', 'VARCHAR'),
  ('cell_phone', 'VARCHAR'),
  ('office_address', 'VARCHAR'),
  ('department', 'VARCHAR'),
  ('school', 'VARCHAR'),
  ('org', 'VARCHAR')],
 't_person_team': [('id', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('ref_type', 'VARCHAR'),
  ('ref_key', 'VARCHAR'),
  ('ref_type_2', 'VARCHAR'),
  ('ref_key_2', 'VARCHAR')],
 't_person_work': [('id', 'VARCHAR'),
  ('ts', 'VARCHAR'),
  ('ref_type', 'VARCHAR'),
  ('ref_key', 'VARCHAR'),
  ('ref_type_2', 'VARCHAR'),
  ('ref_key_2', 'VARCHAR')],
 't_research_group': [('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('id', 'VARCHAR'),
  ('ts', 'VARCHAR')],
 't_team': [('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('id', 'VARCHAR'),
  ('team_lead', 'VARCHAR')],
 't_work': [('type', 'VARCHAR'),
  ('name', 'VARCHAR'),
  ('url', 'VARCHAR'),
  ('summary', 'VARCHAR'),
  ('authors', 'VARCHAR'),
  ('tags', 'VARCHAR'),
  ('note', 'VARCHAR'),
  ('ts_created', 'VARCHAR'),
  ('id', 'VARCHAR'),
  ('ts', 'VARCHAR')]}

In [9]:
for tbl in tbl_map.keys():
    cols = tbl_map[tbl] 
    tmp = []
    for col in cols:
        tmp.append(f"{col[0]} {col[1]}")
    col_list = "\n\t    ,".join(tmp)
    print(f"""
        create table {tbl.replace("t_", "g_")} (
            {col_list}
        );\n
    """)

        create table g_column_props (
            table_name VARCHAR
	    ,col_name VARCHAR
	    ,is_system_col BOOLEAN
	    ,is_user_key BOOLEAN
	    ,is_required BOOLEAN
	    ,is_visible BOOLEAN
	    ,is_editable BOOLEAN
	    ,is_clickable BOOLEAN
	    ,form_column VARCHAR
	    ,widget_type field_ui_type
	    ,label_text VARCHAR
	    ,kwargs VARCHAR
        );



        create table g_entity (
            id VARCHAR
	    ,uid VARCHAR
	    ,ts VARCHAR
	    ,entity_type VARCHAR
	    ,name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
        );



        create table g_note (
            id VARCHAR
	    ,uid VARCHAR
	    ,ts VARCHAR
	    ,name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
	    ,tags VARCHAR
	    ,ref_key VARCHAR
	    ,ref_val VARCHAR
        );



        create table g_person (
            id VARCHAR
	    ,uid VARCHAR
	    ,ts VARCHAR
	    ,person_type VARCHAR
	    ,name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
	    ,email VARCHAR
	    ,first_name VARCHAR
	    ,mid_name VARCHAR
	    ,last_name VARCHAR
	    ,job_title VARCHAR
	    ,phd_univ VARCHAR
	    ,phd_year VARCHAR
	    ,research_area VARCHAR
	    ,research_concentration VARCHAR
	    ,research_focus VARCHAR
	    ,img_url VARCHAR
	    ,phone VARCHAR
	    ,cell_phone VARCHAR
	    ,office_address VARCHAR
	    ,department VARCHAR
	    ,org VARCHAR
        );



        create table g_relation (
            id VARCHAR
	    ,uid VARCHAR
	    ,ts VARCHAR
	    ,rel_type VARCHAR
	    ,ref_key VARCHAR
	    ,ref_val VARCHAR
	    ,ref_key_sub VARCHAR
	    ,ref_val_sub VARCHAR
        );



        create table g_work (
            id VARCHAR
	    ,uid VARCHAR
	    ,ts VARCHAR
	    ,work_type VARCHAR
	    ,name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
	    ,summary VARCHAR
	    ,authors VARCHAR
	    ,tags VARCHAR
        );



        create table g_column_props (
            table_name VARCHAR
	    ,col_name VARCHAR
	    ,is_system_col BOOLEAN
	    ,is_user_key BOOLEAN
	    ,is_required BOOLEAN
	    ,is_visible BOOLEAN
	    ,is_editable BOOLEAN
	    ,is_clickable BOOLEAN
	    ,form_column VARCHAR
	    ,widget_type field_ui_type
	    ,label_text VARCHAR
        );



        create table g_faculty (
            name VARCHAR
	    ,job_title VARCHAR
	    ,phd_univ VARCHAR
	    ,phd_year VARCHAR
	    ,research_area VARCHAR
	    ,research_concentration VARCHAR
	    ,research_focus VARCHAR
	    ,url VARCHAR
	    ,img_url VARCHAR
	    ,phone VARCHAR
	    ,email VARCHAR
	    ,cell_phone VARCHAR
	    ,office_address VARCHAR
	    ,department VARCHAR
	    ,school VARCHAR
	    ,note VARCHAR
        );



        create table g_note (
            name VARCHAR
	    ,note VARCHAR
	    ,url VARCHAR
	    ,tags VARCHAR
	    ,ts VARCHAR
	    ,id VARCHAR
	    ,ref_type VARCHAR
	    ,ref_key VARCHAR
        );



        create table g_org (
            name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
        );



        create table g_person (
            name VARCHAR
	    ,url VARCHAR
	    ,email VARCHAR
	    ,first_name VARCHAR
	    ,mid_name VARCHAR
	    ,last_name VARCHAR
	    ,note VARCHAR
	    ,id VARCHAR
	    ,ts VARCHAR
	    ,job_title VARCHAR
	    ,person_type VARCHAR
	    ,phd_univ VARCHAR
	    ,phd_year VARCHAR
	    ,research_area VARCHAR
	    ,research_concentration VARCHAR
	    ,research_focus VARCHAR
	    ,img_url VARCHAR
	    ,phone VARCHAR
	    ,cell_phone VARCHAR
	    ,office_address VARCHAR
	    ,department VARCHAR
	    ,school VARCHAR
	    ,org VARCHAR
        );



        create table g_person_team (
            id VARCHAR
	    ,ts VARCHAR
	    ,ref_type VARCHAR
	    ,ref_key VARCHAR
	    ,ref_type_2 VARCHAR
	    ,ref_key_2 VARCHAR
        );



        create table g_person_work (
            id VARCHAR
	    ,ts VARCHAR
	    ,ref_type VARCHAR
	    ,ref_key VARCHAR
	    ,ref_type_2 VARCHAR
	    ,ref_key_2 VARCHAR
        );



        create table g_research_group (
            name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
	    ,id VARCHAR
	    ,ts VARCHAR
        );



        create table g_team (
            name VARCHAR
	    ,url VARCHAR
	    ,note VARCHAR
	    ,id VARCHAR
	    ,team_lead VARCHAR
        );



        create table g_work (
            type VARCHAR
	    ,name VARCHAR
	    ,url VARCHAR
	    ,summary VARCHAR
	    ,authors VARCHAR
	    ,tags VARCHAR
	    ,note VARCHAR
	    ,ts_created VARCHAR
	    ,id VARCHAR
	    ,ts VARCHAR
        );

In [10]:
df.to_csv("tab_cols-2023-04-28.csv", index=False)

In [11]:
df_list= df.groupby('table_name')['column_name', 'data_type'].apply(list)

C:\Users\p2p2l\AppData\Local\Temp\ipykernel_9040\1589112563.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_list= df.groupby('table_name')['column_name', 'data_type'].apply(list)

In [12]:
TABLE_COLUMNS = df_list.to_dict()

In [13]:
TABLE_COLUMNS

{'g_column_props': ['column_name', 'data_type'],
 'g_entity': ['column_name', 'data_type'],
 'g_note': ['column_name', 'data_type'],
 'g_person': ['column_name', 'data_type'],
 'g_relation': ['column_name', 'data_type'],
 'g_work': ['column_name', 'data_type'],
 't_column_props': ['column_name', 'data_type'],
 't_faculty': ['column_name', 'data_type'],
 't_note': ['column_name', 'data_type'],
 't_org': ['column_name', 'data_type'],
 't_person': ['column_name', 'data_type'],
 't_person_team': ['column_name', 'data_type'],
 't_person_work': ['column_name', 'data_type'],
 't_research_group': ['column_name', 'data_type'],
 't_team': ['column_name', 'data_type'],
 't_work': ['column_name', 'data_type']}

In [14]:
PROPS = [c for c in TABLE_COLUMNS['t_column_props'] if c not in ['table_name','col_name']]

In [15]:
PROPS

['column_name', 'data_type']

In [16]:
TABLE_COLUMNS.keys()

dict_keys(['g_column_props', 'g_entity', 'g_note', 'g_person', 'g_relation', 'g_work', 't_column_props', 't_faculty', 't_note', 't_org', 't_person', 't_person_team', 't_person_work', 't_research_group', 't_team', 't_work'])

In [15]:
COLUMN_PROPS.keys()

dict_keys(['t_note', 't_team', 't_work', 't_person_team', 't_person_work', 't_research_group', 't_person'])

In [11]:
selected_tbls = [t for t in TABLE_COLUMNS.keys() if t not in [
            "t_person_team", "t_person_work", "t_team", "t_work", 't_note', 't_column_props']]

In [12]:
selected_tbls = ['t_person', 't_research_group']

In [21]:
col_props = _prepare_col_props(selected_tbls)

In [23]:
with open("col_props-1.json", "w") as f:
    f.write(json.dumps(col_props))

In [23]:
from config_g import *

In [24]:
COLUMN_DEFS = _parse_column_props()

In [25]:
COLUMN_DEFS

{'g_entity': {'is_system_col': ['id'],
  'is_user_key': ['name'],
  'is_required': ['name', 'id'],
  'is_visible': ['name', 'url', 'entity_type', 'id', 'note'],
  'is_editable': ['name', 'url', 'entity_type', 'note'],
  'is_clickable': ['url'],
  'form_column': {'name': 'col1-1',
   'url': 'col1-2',
   'entity_type': 'col1-3',
   'id': 'col2-1',
   'note': 'col2-2'},
  'widget_type': {'name': 'text_input',
   'url': 'text_input',
   'entity_type': 'selectbox',
   'id': 'text_input',
   'note': 'text_area'},
  'label_text': {'name': 'Name',
   'url': 'URL',
   'id': 'ID',
   'note': 'Note',
   'entity_type': 'Entity Type'},
  'kwargs': {},
  'all_columns': ['name', 'url', 'entity_type', 'id', 'note'],
  'col1_columns': ['name', 'url', 'entity_type'],
  'col2_columns': ['id', 'note'],
  'col3_columns': []},
 'g_person': {'is_system_col': ['id'],
  'is_user_key': ['name'],
  'is_required': ['name', 'id'],
  'is_visible': ['name',
   'url',
   'email',
   'job_title',
   'research_area',
   'id',
   'person_type',
   'cell_phone',
   'note'],
  'is_editable': ['name',
   'url',
   'email',
   'job_title',
   'research_area',
   'person_type',
   'cell_phone',
   'note'],
  'is_clickable': ['url'],
  'form_column': {'name': 'col1-1',
   'url': 'col1-2',
   'email': 'col1-3',
   'job_title': 'col1-4',
   'research_area': 'col1-5',
   'id': 'col2-1',
   'person_type': 'col2-2',
   'cell_phone': 'col2-3',
   'note': 'col2-4'},
  'widget_type': {'name': 'text_input',
   'url': 'text_input',
   'email': 'text_input',
   'job_title': 'text_input',
   'research_area': 'text_input',
   'id': 'text_input',
   'person_type': 'selectbox',
   'cell_phone': 'text_input',
   'note': 'text_area'},
  'label_text': {'name': 'Name',
   'url': 'URL',
   'email': 'Email',
   'job_title': 'Job Title',
   'research_area': 'Research Area',
   'id': 'ID',
   'person_type': 'Person Type',
   'cell_phone': 'Cell Phone',
   'note': 'Note'},
  'kwargs': {},
  'all_columns': ['name',
   'url',
   'email',
   'job_title',
   'research_area',
   'id',
   'person_type',
   'cell_phone',
   'note'],
  'col1_columns': ['name', 'url', 'email', 'job_title', 'research_area'],
  'col2_columns': ['id', 'person_type', 'cell_phone', 'note'],
  'col3_columns': []},
 'g_note': {'is_system_col': ['id', 'ts'],
  'is_user_key': ['name'],
  'is_required': ['name', 'id'],
  'is_visible': ['name', 'url', 'tags', 'ref_key', 'id', 'note', 'ref_val'],
  'is_editable': ['name', 'url', 'tags', 'ref_key', 'note', 'ref_val'],
  'is_clickable': ['url'],
  'form_column': {'name': 'col1-1',
   'url': 'col1-2',
   'tags': 'col1-3',
   'ref_key': 'col1-4',
   'id': 'col2-1',
   'note': 'col2-2',
   'ref_val': 'col2-3'},
  'widget_type': {'name': 'text_input',
   'url': 'text_input',
   'tags': 'text_input',
   'ref_key': 'text_input',
   'id': 'text_input',
   'note': 'text_area',
   'ref_val': 'text_input'},
  'label_text': {'url': 'URL',
   'id': 'ID',
   'name': 'Name',
   'tags': 'Tags',
   'ref_key': 'Ref Key',
   'note': 'Note',
   'ref_val': 'Ref Val'},
  'kwargs': {},
  'all_columns': ['name', 'url', 'tags', 'ref_key', 'id', 'note', 'ref_val'],
  'col1_columns': ['name', 'url', 'tags', 'ref_key'],
  'col2_columns': ['id', 'note', 'ref_val'],
  'col3_columns': []},
 'g_work': {'is_system_col': ['id', 'ts'],
  'is_user_key': ['name'],
  'is_required': ['name', 'id'],
  'is_visible': ['name',
   'url',
   'authors',
   'summary',
   'id',
   'work_type',
   'tags',
   'note'],
  'is_editable': ['name',
   'url',
   'authors',
   'summary',
   'work_type',
   'tags',
   'note'],
  'is_clickable': ['url'],
  'form_column': {'name': 'col1-1',
   'url': 'col1-2',
   'authors': 'col1-3',
   'summary': 'col1-4',
   'id': 'col2-1',
   'work_type': 'col2-2',
   'tags': 'col2-3',
   'note': 'col2-4',
   'ts': 'col3-2'},
  'widget_type': {'name': 'text_input',
   'url': 'text_input',
   'authors': 'text_input',
   'summary': 'text_area',
   'id': 'text_input',
   'work_type': 'selectbox',
   'tags': 'text_input',
   'note': 'text_area',
   'ts': 'text_input'},
  'label_text': {'name': 'Name',
   'url': 'URL',
   'authors': 'Authors',
   'summary': 'Summary',
   'id': 'ID',
   'work_type': 'Work Type',
   'tags': 'Tags',
   'note': 'Note',
   'ts': 'Timestamp'},
  'kwargs': {},
  'all_columns': ['name',
   'url',
   'authors',
   'summary',
   'id',
   'work_type',
   'tags',
   'note',
   'ts'],
  'col1_columns': ['name', 'url', 'authors', 'summary'],
  'col2_columns': ['id', 'work_type', 'tags', 'note'],
  'col3_columns': ['ts']},
 'g_relation': {'is_system_col': ['id'],
  'is_user_key': {},
  'is_required': ['id'],
  'is_visible': ['rel_type'],
  'is_editable': ['rel_type'],
  'is_clickable': {},
  'form_column': {'rel_type': 'col1-1',
   'ref_key': 'col1-2',
   'ref_val': 'col1-3',
   'id': 'col2-1',
   'ref_key_sub': 'col2-2',
   'ref_val_sub': 'col2-3'},
  'widget_type': {'rel_type': 'text_input',
   'ref_key': 'text_input',
   'ref_val': 'text_input',
   'id': 'text_input',
   'ref_key_sub': 'text_input',
   'ref_val_sub': 'text_input'},
  'label_text': {'rel_type': 'Rel Type',
   'ref_key': 'Ref Key',
   'ref_val': 'Ref Val',
   'id': 'ID',
   'ref_key_sub': 'Ref Key Sub',
   'ref_val_sub': 'Ref Val Sub'},
  'kwargs': {},
  'all_columns': ['rel_type',
   'ref_key',
   'ref_val',
   'id',
   'ref_key_sub',
   'ref_val_sub'],
  'col1_columns': ['rel_type', 'ref_key', 'ref_val'],
  'col2_columns': ['id', 'ref_key_sub', 'ref_val_sub'],
  'col3_columns': []}}

In [26]:
table_name = "g_person"
COL_DEFS = COLUMN_DEFS[table_name]
visible_columns = COL_DEFS["is_visible"]
system_columns = COL_DEFS["is_system_col"]
form_columns = COL_DEFS["form_column"]
col_labels = COL_DEFS["label_text"]
widget_types = COL_DEFS["widget_type"]

In [27]:
key_columns = COL_DEFS["is_user_key"]
key_columns

['name']

In [1]:
s = "publication, preprint, talk, poster, project, startup, company"
WORK_TYPES = [c.strip() for c in s.split(",") if c.strip()]
WORK_TYPES

['publication', 'preprint', 'talk', 'poster', 'project', 'startup', 'company']

In [19]:
form_cols = {
    "note": "col2-2",
    "url": "col1-2",
    "name": "col1-1",
    "id": "col2-1",
}

res = {}
for i in range(1,4):
    m = {k:v for k,v in form_cols.items() if v.startswith(f"col{i}-")}
    res[f"col{str(i)}_columns"] = sorted(m, key=m.__getitem__)

In [20]:
res

{'col1_columns': ['name', 'url'],
 'col2_columns': ['id', 'note'],
 'col3_columns': []}

In [21]:
res2 = {}

In [22]:
res2.update(res)

In [23]:
res2

{'col1_columns': ['name', 'url'],
 'col2_columns': ['id', 'note'],
 'col3_columns': []}

In [24]:
c = [1,2]
c2 = c.copy()
c2

[1, 2]

In [34]:
def _move_sys_col_end(cols, sys_cols=["id"]):
    """move id, ts sys column to last position
    """
    new_sys_cols = []
    new_cols = []
    for c in cols:
        if c in sys_cols:
            new_sys_cols.append(c)
        else:
            new_cols.append(c)
    if sys_cols:
        if len(new_cols) == len(cols):
            return new_cols
        else:
            return new_cols + new_sys_cols
    else:
        return cols

In [37]:
cols = ["name", "id", "url", "ts", "note"]
_move_sys_col_end(cols, sys_cols=["ts","id", "ts2"])

['name', 'url', 'note', 'id', 'ts']