In [1]:
import pandas as pd 
from db import *
from config_poc import *

In [49]:
pd.set_option('display.max_columns', None)

In [2]:
sql_stmt = """
select  c.table_name, c.column_name --, c.data_type,  c.*
from information_schema.columns c
where 1=1
--and c.table_catalog like 'faculty-Cornell-CS%'
and c.table_schema = 'main'
and c.table_name in ('t_person', 't_faculty'
)
and c.table_name not like 't1_%'
order by c.table_catalog,c.table_schema,c.table_name, c.ordinal_position
;
"""

In [25]:
with DBConn() as _conn:
    df = pd.read_sql("select uuid();", _conn)
df

C:\Users\p2p2l\AppData\Local\Temp\ipykernel_18100\1125376890.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select uuid();", _conn)

                                 uuid()
0  c731a0d7-990e-40bd-9217-3661790f351a

In [4]:
with DBConn() as _conn:
    df = pd.read_sql(sql_stmt, _conn)

C:\Users\p2p2l\AppData\Local\Temp\ipykernel_18100\496018617.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(sql_stmt, _conn)

In [5]:
df

   table_name             column_name
0   t_faculty                    name
1   t_faculty               job_title
2   t_faculty                phd_univ
3   t_faculty                phd_year
4   t_faculty           research_area
5   t_faculty  research_concentration
6   t_faculty          research_focus
7   t_faculty                     url
8   t_faculty                 img_url
9   t_faculty                   phone
10  t_faculty                   email
11  t_faculty              cell_phone
12  t_faculty          office_address
13  t_faculty              department
14  t_faculty                  school
15  t_faculty                    note
16   t_person                    name
17   t_person                     url
18   t_person                   email
19   t_person              first_name
20   t_person                mid_name
21   t_person               last_name
22   t_person                    note

df.to_records()

In [6]:
df.to_csv("tab_cols-person-faculty.csv", index=False)

In [7]:
df_list= df.groupby('table_name')['column_name'].apply(list)

In [8]:
TABLE_COLUMNS = df_list.to_dict()

In [9]:
TABLE_COLUMNS

{'t_faculty': ['name',
  'job_title',
  'phd_univ',
  'phd_year',
  'research_area',
  'research_concentration',
  'research_focus',
  'url',
  'img_url',
  'phone',
  'email',
  'cell_phone',
  'office_address',
  'department',
  'school',
  'note'],
 't_person': ['name',
  'url',
  'email',
  'first_name',
  'mid_name',
  'last_name',
  'note']}

In [10]:
TABLE_COLUMNS['t_faculty'] + TABLE_COLUMNS['t_person']

['name',
 'job_title',
 'phd_univ',
 'phd_year',
 'research_area',
 'research_concentration',
 'research_focus',
 'url',
 'img_url',
 'phone',
 'email',
 'cell_phone',
 'office_address',
 'department',
 'school',
 'note',
 'name',
 'url',
 'email',
 'first_name',
 'mid_name',
 'last_name',
 'note']

In [11]:
set(TABLE_COLUMNS['t_faculty']).difference(set(TABLE_COLUMNS['t_person']))

{'cell_phone',
 'department',
 'img_url',
 'job_title',
 'office_address',
 'phd_univ',
 'phd_year',
 'phone',
 'research_area',
 'research_concentration',
 'research_focus',
 'school'}

In [18]:
cstr = """
- name
- url
- email
- job_title
- person_type
- phd_univ
- phd_year
- research_area
- research_concentration
- research_focus
- first_name
- mid_name
- last_name
- img_url
- phone
- cell_phone
- office_address
- department
- school
- org
- note"""

cols = [c.replace("-","").strip() for c in cstr.split("\n") if c.strip()]

In [19]:
cols

['name',
 'url',
 'email',
 'job_title',
 'person_type',
 'phd_univ',
 'phd_year',
 'research_area',
 'research_concentration',
 'research_focus',
 'first_name',
 'mid_name',
 'last_name',
 'img_url',
 'phone',
 'cell_phone',
 'office_address',
 'department',
 'school',
 'org',
 'note']

In [21]:
(set(TABLE_COLUMNS['t_faculty']).union(set(cols))).difference(set(TABLE_COLUMNS['t_person']))

{'cell_phone',
 'department',
 'img_url',
 'job_title',
 'office_address',
 'org',
 'person_type',
 'phd_univ',
 'phd_year',
 'phone',
 'research_area',
 'research_concentration',
 'research_focus',
 'school'}

In [23]:
for c in ['id','ts',
 'job_title',
 'person_type',
 'phd_univ',
 'phd_year',
 'research_area',
 'research_concentration',
 'research_focus',
 'img_url',
 'phone',
 'cell_phone',
 'office_address',
 'department',
 'school', 
 'org',
]:
    
    print(f"alter table t_person add column {c} text;")

alter table t_person add column id text;
alter table t_person add column ts text;
alter table t_person add column job_title text;
alter table t_person add column person_type text;
alter table t_person add column phd_univ text;
alter table t_person add column phd_year text;
alter table t_person add column research_area text;
alter table t_person add column research_concentration text;
alter table t_person add column research_focus text;
alter table t_person add column img_url text;
alter table t_person add column phone text;
alter table t_person add column cell_phone text;
alter table t_person add column office_address text;
alter table t_person add column department text;
alter table t_person add column school text;
alter table t_person add column org text;

In [44]:
col_lst = ",".join(["id","ts","person_type"] + TABLE_COLUMNS['t_faculty'])
col_lst

'id,ts,person_type,name,job_title,phd_univ,phd_year,research_area,research_concentration,research_focus,url,img_url,phone,email,cell_phone,office_address,department,school,note'

In [45]:
col_lst2 = ",".join(TABLE_COLUMNS['t_faculty'])
col_lst2

'name,job_title,phd_univ,phd_year,research_area,research_concentration,research_focus,url,img_url,phone,email,cell_phone,office_address,department,school,note'

In [53]:
insert_sql = f"""
insert into t_person ({col_lst})
select uuid(),now(),'faculty',{col_lst2}  
from t_faculty
--where name = 'Abe Davis'
;
"""

print(insert_sql)

insert into t_person (id,ts,person_type,name,job_title,phd_univ,phd_year,research_area,research_concentration,research_focus,url,img_url,phone,email,cell_phone,office_address,department,school,note)
select uuid(),now(),'faculty',name,job_title,phd_univ,phd_year,research_area,research_concentration,research_focus,url,img_url,phone,email,cell_phone,office_address,department,school,note
from t_faculty
--where name = 'Abe Davis'
;

In [54]:
# insert
with DBConn() as _conn:
    _conn.execute(insert_sql)
    _conn.commit()

In [55]:
# query
with DBConn() as _conn:
    df = pd.read_sql("select * from t_person;", _conn)
df

C:\Users\p2p2l\AppData\Local\Temp\ipykernel_18100\3297502769.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("select * from t_person;", _conn)

,name,url,email,first_name,mid_name,last_name,note,id,ts,job_title,person_type,phd_univ,phd_year,research_area,research_concentration,research_focus,img_url,phone,cell_phone,office_address,department,school,org
0,Yuchong Geng,https://yuchong-geng.github.io/,yg534@cornell.edu,Yuchong,None,Geng,None,yg534@cornell.edu,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
1,Faraz Farahvash,http://networks.ece.cornell.edu/faraz,ff227@cornell.edu,Faraz,None,Farahvash,None,ff227@cornell.edu,None,None,None,None,None,None,None,None,None,None,None,None,None,None,None
2,Mohamed Abdelfattah,https://www.mohsaied.com,,None,None,None,None,409a467e-159e-411e-aedf-206e0ce0d71e,2023-04-23 14:48:37.555-04,Assistant Professor,faculty,Univ Toronto,2016,"Artificial Intelligence, Machine Learning",Artificial Intelligence,,https://www.cs.cornell.edu/sites/default/files...,,,,"Electrical and Computer Engineering, Cornell T...",,None
3,Jayadev Acharya,https://people.ece.cornell.edu/acharya/,,None,None,None,None,23605352-f553-4289-86fd-e967a3ae693b,2023-04-23 14:48:37.555-04,Assistant Professor,faculty,Univ California San Diego,2014,"Artificial Intelligence, Theory of Computing","Artificial Intelligence, Theory of Computation","Information theory, machine learning, and algo...",https://www.cs.cornell.edu/sites/default/files...,,,,"Electrical and Computer Engineering, CS Field ...",,None
4,Rachit Agarwal,http://www.cs.cornell.edu/~ragarwal/,,None,None,None,None,edf90ce7-67ff-474d-8b17-47f6e43fa5c2,2023-04-23 14:48:37.555-04,Associate Professor,faculty,Univ Illinois Urbana-Champaign,2013,"Systems and Networking, Theory of Computing","Systems, Theory of Computation","Distributed systems, systems for big data anal...",https://www.cs.cornell.edu/sites/default/files...,,,,"Computer Science, CS Field Member",,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,Christina Lee Yu,https://people.orie.cornell.edu/cleeyu/,,None,None,None,None,8341ddc8-421a-46ef-bb12-1e58d54aee05,2023-04-23 14:48:37.555-04,Assistant Professor,faculty,MIT,,Theory of Computing,Theory of Computation,"Theory of Computing, Artificial Intelligence (...",https://www.cs.cornell.edu/sites/default/files...,,,,"ORIE, CS Field Member",,None
120,Haiyuan Yu,https://www.yulab.org,,None,None,None,None,9bd309b1-8bea-4045-b7e6-e91713bc5c2e,2023-04-23 14:48:37.555-04,Professor,faculty,Yale,2005,Computational Biology,Scientific Computing and Applications,"Biomedical systems biology, machine learning, ...",https://www.cs.cornell.edu/sites/default/files...,,,,"Biological Statistics & Computational Biology,...",,None
121,Ramin Zabih,http://www.cs.cornell.edu/~rdz,,None,None,None,None,7fc156ee-f1b0-4cfc-b5fc-00a45c74bd3f,2023-04-23 14:48:37.555-04,Professor,faculty,Stanford Univ,1994,"Human Interaction, Vision","Artificial Intelligence, Theory of Computation","Computer vision and its applications, especial...",https://www.cs.cornell.edu/sites/default/files...,,,,"Computer Science, Cornell Tech, CS Field Member",,None
122,Cheng Zhang,http://www.czhang.org/,,None,None,None,None,35b999c8-0033-4364-bc92-3abeb1dad5f0,2023-04-23 14:48:37.555-04,Assistant Professor,faculty,Georgia Institute Technology,2018,Artificial Intelligence,Systems,"Ubiquitous Computing, Wearable Computing, Huma...",https://www.cs.cornell.edu/sites/default/files...,,,,"Information Science, CS Field Member",,None
123,Zhiru Zhang,http://www.csl.cornell.edu/~zhiruz/,,None,None,None,None,57fb0751-7fa1-4b86-9251-abb028e6080a,2023-04-23 14:48:37.555-04,Assistant Professor,faculty,Univ California LA,2007,Systems and Networking,Systems,"Computer-aided design methodologies, optimizat...",https://www.cs.cornell.edu/sites/default/files...,,,,"Electrical and Computer Engineering, CS Field ...",,None

In [51]:
# delete
with DBConn() as _conn:
    _conn.execute("delete from t_person where name = 'Abe Davis';")
    _conn.commit()